.buttonGrid {
  align-content: center;
}

.buttonRow1 {
  display: flex;
}

.buttonRow2{
  display: flex;
}

#button1 {
  width: 100px;
	height: 100px;
	background: red;
}

#button2 {
  width: 100px;
	height: 100px;
	background: blue;
}

#button3 {
  width: 100px;
	height: 100px;
	background: yellow;
}

#button4 {
  width: 100px;
	height: 100px;
	background: green;
}
