body {
  background: rgb(32,32,32);
}

.buttonRow1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.buttonRow2{
  display: flex;
  align-items: center;
  justify-content: center;
}

#button1 {
  width: 100px;
	height: 100px;
	background: rgba(250, 0, 0, 0.3);
  margin: 3px;
  border: solid 5px rgba(250, 0, 0, 1);

}

#button2 {
  width: 100px;
	height: 100px;
	background: rgba(0,250,154, 0.3);
  margin: 3px;
  border: solid 5px rgba(0,250,154, 1);
}

#button3 {
  width: 100px;
	height: 100px;
	background: rgba(255,215,0, 0.3);
  margin: 3px;
  border: solid 5px rgba(255,215,0, 1);
}

#button4 {
  width: 100px;
  height: 100px;
  background: rgba(0,0,250, 0.3);
  margin: 3px;
  border: solid 5px rgba(0,0,250, 1);
}
